<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>People List</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<h1>List of people</h1>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">List of people</div>
        <div class="panel-body">
            <form th:action="@{/index}" method="get">
                <label>Key-word: </label>
                <input type="text" name="keyword">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>ID</th><th>First name</th><th>Last name</th><th>Birthday</th><th>Address</th>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="date"></td>
                    <td><input type="text"></td>
                    <td><button class="btn btn-primary">Add</button></td>
                </tr>
                <tr th:each="p:${listPeople}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.firstName}"></td>
                    <td th:text="${p.lastName}"></td>
                    <td th:text="${p.birthday}"></td>
                    <td th:text="${p.address}"></td>
                    <td>
                        <button>Edit</button>
                        <button>Delete</button>
                    </td>
                </tr>
            </table>
            <ul class="nav nav-pills">
                <li th:class="${currentPage == status.index}?'active':''" th:each="page,status:${pages}">
                    <a th:href="@{/index(page=${status.index})}" th:text="${status.index}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>